<div class="main">
  <div class="inner">
    <div class="form__wrapper">
      <h2 class="page-heading">新規プロトタイプ投稿</h2>
        <%# <% @prototype.each do |prototype| イーチドゥいるか心配★いるならエンドも%> 
        <%= render partial: 'form', locals: { prototype: @prototype } %>
        <%# これ多分 local: { prototype: @prototype } がちがう %>
    </div>
  </div>
</div>